body {
	background-color: whitesmoke;
}

.card {
	img {
		border-radius: 40px;
		width: 300px;
		height: 300px;
	}
	.badge {
		font-size: 1.3rem;
	}
	.badge:hover {
		cursor: pointer;
	}
	.delete {
		margin-right: 80%;
	}
	margin-top: 5rem;
	border-radius: 40px;
}
.card-footer {
	background-color: white;
	margin-bottom: 5rem;
	padding: none;
}
.card-footer:last-child {
	border-radius: 40px;
}

.post {
	max-width: 800px;
	margin: 0 auto 0 auto;
	border-radius: 40px;
}

.postform {
	max-width: 750px;
	display: flex;
	margin: 3rem auto 0 auto;
	border-radius: 40px;
	#title {
		border-radius: 40px;
	}
	#attachment {
		border: none;
	}
	textarea {
		margin-bottom: 1.5rem;
		border-radius: 40px;
	}
	.card-header {
		border-bottom: none;
		background-color: white;
		border-radius: 40px;
	}
	.btn {
		margin-top: 1.5rem;
		border-radius: 40px;
	}
}

.icon:hover {
	cursor: pointer;
	color: #d1515a;
}
.btn {
	margin: none !important;
}
