.post {
	p,
	span {
		color: black;
	}
	hr {
		background-color: #d1515a;
		height: 2px;
		width: 100%;
	}
}
.post__username {
	display: flex;
	justify-content: space-between;
	:hover {
		cursor: pointer;
	}
}

textarea[name="content"] {
	resize: none;
	width: 400px;
	height: 200px;
}
.postForm {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	margin: auto;
	align-items: center;
	justify-content: center;
	box-shadow: none;
	.formInput {
		margin: 1rem;
	}
	.attachment {
		margin: 0;
	}
}
.icon {
	margin-top: 1rem;
}
.icon:hover {
	cursor: pointer;
}
.input-group-append {
	margin: 0;
}
.btn {
	margin: none !important;
}
