.container-fluid {
	background-color: #192947;
	height: 100vh;
	text-align: center;
	p,
	h1,
	h2,
	h3,
	li {
		color: mintcream;
		list-style-type: none;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.introduction {
		font-size: small;
		font-family: "Courier New", Courier, monospace;
		margin-top: 5rem;
	}
	.informations {
		margin-top: 5rem;
	}
}
