.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #d1515a;
	border-bottom: 1px solid #d1515a;
	width: 250px;
	height: 100vh;
	padding-left: 100px;
	background-color: #192947;
}
