.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: #d1515a;
	padding: 1rem;
	bottom: 0;
	width: 100%;

	a {
		color: #192947;
		text-decoration: none;
	}
}
