.container-fluid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(#4a6597, #403ab3, #192947);
	height: 100vh;
	text-align: center;
	p,
	h1,
	h2,
	h3,
	li {
		color: white;
		list-style-type: none;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	li {
		font-size: large;
	}
	.introduction {
		font-size: small;
		font-family: "Courier New", Courier, monospace;
		margin-top: 5rem;
	}
	.informations {
		margin-top: 5rem;
	}
}
