.welcome {
	max-width: 750px;
	margin: auto;
	border-color: #d1515a;
	font-family: "Montserrat", sans-serif;
	font-size: 300;

	li {
		font-family: "Montserrat", sans-serif;
		font-size: 300;
		border-color: #d1515a;
	}
}
