header {
	background-color: #192947;
	height: 80px;
	border-bottom: 1px solid #d1515a;
	width: 100%;
	li {
		padding-left: 5rem;
	}
	a {
		font-size: large;
		color: #d1515a;
	}
	a:hover {
		color: wheat;
		text-decoration: none;
	}
	.btn-warning {
		margin-top: 1rem;
		background-color: #d1515a;
		color: #192947;
	}

	.btn-success:hover {
		background-color: green;
	}
}
.alert {
	position: fixed;
	width: 100%;
}
