body {
	// background-color: #192947;
}
.containerSignup {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: #192947;
}
form {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	padding: 1.5rem;
	box-shadow: 8px 8px 8px 8px #d1515a;

	label {
		color: #d1515a;
	}
}
