.containerSignup {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("/images/icon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}
form {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 60%;
	padding: 1.5rem;
	box-shadow: 8px 8px 8px 8px #d1515a;

	label {
		color: #d1515a;
	}
	#emailHelp {
		color: red;
	}
}
