.containerSignup {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// background-image: url("/frontend/public/logo192.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}
.signUp {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 60%;
	padding: 1.5rem;
	box-shadow: 8px 8px 8px 8px #d1515a;

	label {
		color: black;
		font-size: larger;
	}

	p {
		color: green;
	}

	.error {
		border: 1px solid red;
	}
	.valid {
		border: 2px solid green;
	}
}
